llama_index==0.10.9

wikipedia

pandas

langchain_openai==0.0.5

chromadb

langchain==0.1.3

pysqlite3-binary

llama_hub

pymupdf

youtube_transcript_api

llama-index-embeddings-azure-openai

llama-index-llms-azure-openai

llama-index-vector-stores-chroma


